{% assign isos = site.data.isos[0] %}
{% assign settings = site.data.settings %}

<div class="row">
	<div class="medium-8 large-8 columns text-center medium-text-left">
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
			<li>
				<h5>Office Location</h5>
				<p>
					<a target="_blank" href="https://www.google.com.au/maps/place/{{ site.data.settings.address }}/">
					{{ settings.address_multiline }}
					</a>
					<br>
					{{ settings.dx }}
				</p>
			</li>
			<li>
				<h5>Email</h5>
				<p>
					<a href="mailto:{{ settings.email }}">{{ site.data.settings.email }}</a>
					<br>
					Fax: {{ settings.fax }}<br>
					P.O. Box: {{ settings.pobox }}
				</p>
			</li>
			<li class="hide-for-small hide-for-medium">
				<ul>
					{% for item in site.data.sitemap | limit: 4 %}
					<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
			<li class="hide-for-small hide-for-medium">
				<ul>
					{% for item in site.data.sitemap | offset: 4 %}
					<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		<h5>Connect With Us</h5>
		<ul class="lv-inline-list text-center medium-text-left">
			<li><a href="{{ settings.linkedin }}" class="button round" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="{{ settings.twitter }}" class="button round" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="{{ settings.facebook }}" class="button round" target="_blank"><i class="fa fa-facebook"></i></a></li>
		</ul>
		<p>We also speak: Hungarian</p>
	</div>

	<div class="medium-4 large-4 columns text-center medium-text-right">

		<!-- ISOS -->
		{% for iso in isos.children %}
			<a href="{{ isos.url }}#{{ iso.id }}"><img src="{{ iso.image }}" alt="{{ iso.title }}"></a>
		{% endfor %}
	</div>

</div> <!-- .row -->

<!-- Footer Bottom -->
<div class="footer-bottom">
	<div class="row">
		<div class="medium-6 columns text-center medium-text-left">
			<p>&copy; 2014 - {{ settings.company }}. All rights reserved.<br>
				<a target="_blank" href="http://www.firmsite.com.au/">Firmsite</a> by <a target="_blank" href="http://www.findlaw.com.au/">Findlaw</a></p>
		</div>
		<div class="medium-6 columns">
			<ul class="lv-inline-list text-center medium-text-right">
				<li><a href="#" target="_blank">Terms</a></li>
				<li><a href="#" target="_blank">Privacy</a></li>
				<li><a href="#" target="_blank">Sitemap</a></li>
			</ul>
		</div>
	</div>
</div> <!-- .footer-bottom -->