{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">
{% endcomment %}

{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo@2x.png" %}

<div class="row">
    <div class="medium-6 columns text-center medium-text-left">
        <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
        	<img width="240" src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
        </a>
    </div>
    <div class="medium-6 columns text-center medium-text-right">

        <form data-abide novalidate method="get" action="/search/">
            <div class="row">
                <div class="medium-8 medium-offset-4 columns">

                    <div class="row collapse postfix-radius">
                        <div class="small-10 columns">
                            <input type="text" name="q" id="q" placeholder="Search Site">
                        </div>
                        <div class="small-2 columns">
                            <button class="button postfix"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </form>

        <p><a class="phone" href="tel:{{ settings.phone }}"><i class="fa fa-phone"></i> {{ settings.phone }}</a><br>

        <a class="address" target="_blank" href="https://www.google.com.au/maps/place/{{ site.data.settings.address }}/">
            {{ site.data.settings.address }}
        </a>

    </div>
</div>

<!-- Important: Hamburger outside of row -->
<!-- <a href="#" class="hamburger hide-for-large-up"><span>OPEN MENU</span></a> -->