{% assign items = site.data.items %}

<!-- Accordion Module -->
<dl class="accordion" data-accordion>
    {% for item in items %}
        {% assign id = item.id %}
        <dd class="accordion-navigation">
            <a href="{{ id | prepend: "#"}}"><b>{{ item.title }}</b> <i class="icon-angle-down"></i><i class="icon-angle-up"></i></a>
            <div id="{{ id }}" class="content">

                <!-- Accordion Module -->
                <dl class="accordion" data-accordion>
                    {% for item in item.children %}
                        {% assign id = item.title | downcase | replace: ' ', '-' %}
                        <dd class="accordion-navigation">
                            <a href="{{ id | prepend: "#"}}"><b>{{ item.title }}</b> <i class="icon-angle-down"></i><i class="icon-angle-up"></i></a>
                            <div id="{{ id }}" class="content">
                                {{ item.body }}
                            </div> <!-- .content -->
                        </dd> <!-- .accordion-navigation -->
                    {% endfor %}
                </dl> <!-- .accordion -->

            </div> <!-- .content -->
        </dd> <!-- .accordion-navigation -->
    {% endfor %}
</dl> <!-- .accordion -->