<form data-abide novalidate method="post" action="/">

	<!-- First Name -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="first-name" class="medium-text-right inline">First Name*</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="first-name" name="first-name" required>
			<small class="error">Your name is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Last Name -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="last-name" class="medium-text-right inline">Last Name*</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="last-name" name="last-name" required>
			<small class="error">Your last name is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Email -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="last-name" class="medium-text-right inline">Email*</label>
		</div>
		<div class="medium-9 columns">
			<input type="email" id="email" name="email" required>
			<small class="error">Your email name is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Postal Address -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="postal-address" class="medium-text-right inline">Postal Address</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="postal-address" name="postal-address">
			<small class="error">Your postal address is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Suburb -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="suburb" class="medium-text-right inline">Suburb</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="suburb" name="suburb">
			<small class="error">Your suburb is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- State -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="state" class="medium-text-right inline">State</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="state" name="state">
			<small class="error">Your state is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Postcode -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="postcode" class="medium-text-right inline">Postcode</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="postcode" name="postcode">
			<small class="error">Your postcode is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Mobile -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="mobile" class="medium-text-right inline">Mobile</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="mobile" name="mobile">
			<small class="error">Your mobile is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Home/Work Phone -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="phone" class="medium-text-right inline">Home/Work Phone</label>
		</div>
		<div class="medium-9 columns">
			<input type="text" id="phone" name="phone">
			<small class="error">Your phone is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Subject -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="subject" class="medium-text-right inline">Subject</label>
		</div>
		<div class="medium-9 columns">
			<select id="subject" name="subject">
                <option value="">Please Select</option>
                <option value="Enrolments">Enrolments</option>
                <option value="Employment">Employment</option>
                <option value="Volunteering">Volunteering</option>
                <option value="Sponsorship">Sponsorship</option>
                <option value="General Enquiry">General Enquiry</option>
                <option value="General Feedback">General Feedback</option>
                <option value="YMCA Enquiry">YMCA Enquiry</option>
                <option value="Newsletter Subscription">Newsletter Subscription</option>
            </select>
		</div>
	</div> <!-- .row -->

	<!-- Enquiry -->
	<div class="row">
		<div class="medium-3 columns">
			<label for="enquiry" class="medium-text-right inline">Enquiry*</label>
		</div>
		<div class="medium-9 columns">
			<textarea rows="10" id="enquiry" name="enquiry" required></textarea>
			<small class="error">Your enquiry is required.</small>
		</div>
	</div> <!-- .row -->

	<!-- Send Button -->
    <div class="row">
		<div class="medium-9 medium-offset-3 columns">
			<button type="submit" class="button small radius">Send</button>
			<p class="medium-text-right">*Required Fields</p>
		</div>
	</div>

</form>