{% comment %}
    Note: BYO Breadcrumb logic. This composes links by reading the page url.
    https://github.com/Shopify/liquid/wiki/Liquid-for-Designers
    forloop.last?
    {% if forloop.last %}show-for-large-up{% endif %}

    Convert a string into a lowercase URL "slug" by replacing every sequence of spaces and non-alphanumeric characters with a hyphen.
    {{ page.title | slugify }}
{% endcomment %}

<ul class="lv-breadcrumbs">
    <li><a href="/"><i class="fa fa-map-marker"></i>&nbsp; Home</a></li>
    {% assign crumbs = page.url | split: '/' %}
    {% assign crumbs_total = crumbs | size | minus: 1 %}
    {% for crumb in crumbs offset: 1 %}
        {% if forloop.index == crumbs_total %}
            <li class="active">{{ crumb | replace:'-',' ' }}</li>
        {% else %}
            <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' }}</a>
        {% endif %}
    {% endfor %}
</ul>