<form data-abide novalidate method="post" action="">

	<!-- Name -->
	<div class="row">
		<div class="columns">
			<label><!-- Your name <small>required</small> -->
				<input name="name" class="radius" type="text" placeholder="Your name*">
			</label>
			<small class="error">Your name is required.</small>
		</div>
	</div>

	<!-- Email -->
	<div class="row">
		<div class="columns">
			<label><!-- Email <small>required</small> -->
				<input name="email" class="radius" type="email" placeholder="Email*" required>
			</label>
			<small class="error">A valid email address is required.</small>
		</div>
	</div>

	<!-- Phone (Optional) -->
	<div class="row">
		<div class="columns">
			<label><!-- Phone -->
				<input name="phone" class="radius" type="text" placeholder="Phone (optional)">
			</label>
			<small class="error">Please try again.</small>
		</div>
	</div>

	<!-- Message -->
	<div class="row">
		<div class="columns">
			<label><!-- Your message <small>required</small> --></label>
			<textarea rows="10" class="radius" name="message" placeholder="Your message*" required></textarea>
			<small class="error">Please enter a message.</small>
		</div>
	</div>

	<!-- Submit -->
	<div class="row">
		<div class="columns text-center medium-text-left">
			<button type="submit" class="button radius">Send Message</button>
		</div>
	</div>

</form>