---
layout: master
hero_link: /some-link-here/
---

{% assign settings = site.data.settings  %}

<div class="homepage">

	<!-- HERO -->
	<div class="hero">
	    <div class="row outer-row">
	        <div class="columns">
	            <div class="animated fadeInLeft">
	                <h1>{{ page.banner_header }}</h1>
	                <p><a href="{{ page.hero_link }}" class="button"></a></p>
	            </div>
	        </div> <!-- .columns -->
	    </div> <!-- .row -->
	</div> <!-- .hero -->

	<!-- MAIN -->
	<main class="main">
		<div class="row outer-row">
			<div class="columns">

			</div> <!-- .columns -->
		</div> <!-- .row -->
	</main>

</div> <!-- .homepage -->