---
layout: master
slide_show: false
---

<!-- HERO -->
<div class="row">
    <div class="columns">
       <!-- HERO MODULE -->
       <div class="lv-hero-module has-fixed-height">
           <!-- Hero Item -->
           <div class="lv-hero" style="background-image: url('{{ page.banner_image | prepend: site.assets }}')" data-background-image="..."></div> <!-- .lv-hero -->
       </div> <!-- .lv-hero-module -->
    </div>
</div>

<!-- NAVIGATION -->
<nav class="navigation show-for-medium-up">
    <div class="topbar">
        <div class="row">
            <div class="columns">
                {% include snippets/navigation.html %}
            </div>
        </div>
    </div>
</nav>

<div class="row">
    <div class="columns">
        <div class="white-page">

            <!-- BREADCRUMBS -->
            <nav class="breadcrumbs-bar">
                <div class="row">
                    <div class="columns">
                        {% include snippets/breadcrumbs.html %}
                    </div> <!-- .columns -->
                </div> <!-- .row -->
            </nav> <!-- .breadcrumbs-wrapper -->

            {{ content }}

        </div> <!-- .white-page -->
    </div> <!-- .columns -->
</div> <!-- .row -->