---
layout: master
---

<div class="internal">

    <!-- HERO -->
    <section class="hero">
        <div class="hero-header">
            <div class="row outer-row">
                <div class="columns">
                    <div class="animated fadeInLeft">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div> <!-- .columns -->
            </div> <!-- .row -->
        </div> <!-- .hero-header -->
    </section> <!-- .hero -->

    <!-- BREADCRUMBS -->
    <nav class="breadcrumbs-bar">
        <div class="row collapse outer-row">
            <div class="columns">
                {% include breadcrumbs.html %}
            </div> <!-- .columns -->
        </div> <!-- .row -->
    </nav> <!-- .breadcrumbs-wrapper -->

    <!-- CONTENT -->
    <div class="row outer-row">
        {{ content }}
    </div> <!-- .row -->

</div> <!-- .internal -->