---
layout: internal
side_nav_id: 3
---

{% assign settings = site.data.settings %}

<div class="row">

    <!-- SIDEBAR -->
    <div class="medium-4 medium-push-8 columns">
        <aside class="sidebar">
            {% include snippets/side_nav.html %}
        </aside>
        <p><a href="/contact-us"><img width="100%" src="/img/template/need-advice.jpg" alt="Need Advice"></a></p>
    </div>

    <!-- MAIN -->
    <div class="medium-8 medium-pull-4 columns">
        <main class="main">
            <h1>{{ page.title }}</h1>
            <br>

            <article class="media">
                <div class="row">

                    <div class="medium-3 columns">
                        <p><img class="polaroid" src="/img/ui/no-face.png" alt=""></p>
                    </div> <!-- .medium-3 -->

                    <div class="medium-9 columns">
                        <h3 class="subheader">Managing Partner</h3>
                        <p><strong>P </strong><a href="tel:02555555">(02) 5555 5555</a><strong><br>E </strong><a href="mailto:mail@yourdomain.com.au">mail@yourdomain.com.au</a></p>
                        <p><strong>Practice Areas:</strong>
                            {% for i in (1..5) %}
                                <a href="#">{{ "Lorem Ipsum" }}</a>,
                            {% endfor %}
                        </p>

                    </div> <!-- .medium-9 -->

                </div> <!-- .row -->
                <hr>
            </article>

            {{ content | markdo}}

        </main>
    </div>

</div>