/*
	LIQUIDVISUAL BUTTONS :: A Personal Framework

	- updated: 07.07.14
	- liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//
// These can be overidden via Foundation settings
//-----------------------------------------------------------------

// Foundation defaults
$primary-color: #008CBA !default;
$secondary-color: #e7e7e7 !default;
$alert-color: #f04124 !default;
$success-color: #43AC6A !default;
$warning-color: #f08a24 !default;
$info-color: #a0d3e8 !default;

// liquidvisual
$button-radius: 5px !default;
$button-round: 1000px !default;
$button-bg: $primary-color !default;
$button-bg-hover: lighten($button-bg, 5%) !default;
$button-bg-active: darken($button-bg-hover, 2%) !default;

//-----------------------------------------------------------------
// Button States
//-----------------------------------------------------------------

.button:active:not(.disabled) {
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2);
	// text-shadow: rgba(255,255,255,0.25) 0px 1px 0;
}

.button:hover:not(.disabled) {
    background: $button-bg-hover;
}

.button.success:hover:not(.disabled) {
    background: lighten($success-color, 5%);
}

.button.alert:hover:not(.disabled) {
    background: lighten($alert-color, 5%);
}

.button.secondary:hover:not(.disabled) {
    background: lighten($secondary-color, 5%);
}

//=============================================
// Button - Styles
//=============================================

.button {
	&.cellshade {
		border: 1px solid darken(desaturate($button-bg, 10%), 15%);
	}

	&.depth {
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
		border-bottom: 3px solid darken(desaturate($button-bg, 30%), 15%);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

		&.large {
			border-bottom-width: 4px;
		}

		&:active {
			border-color: transparent;
			-webkit-transform: translateY(2px);
			-ms-transform: translateY(2px);
			transform: translateY(2px);
		}
	}

	&.knockout,
	&.knockout:active {
		border: 2px solid $button-bg;
		color: $button-bg;
		background: none;
		box-shadow: none;
		text-shadow: none;

		&:hover {
			background: $button-bg;
			color: white;
		}
	}
}

//=============================================
// Button - Modifiers
//=============================================

.button {
	&.round,
	&.round.gradient::after {
		border-radius: $button-round;
	}

	&.gradient.candy::after {
		border-top: 1px solid rgba(255, 255, 255, 0.6);
	}

	&.radius {
		border-radius: $button-radius;
	}

	&.gradient::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA1CAYAAACA/oEyAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAjSURBVBiVY/j//38UEwMDAwMTAwPDPzjxn0guseoGVBsxXACWmjZss+TG3QAAAABJRU5ErkJggg==") repeat-x;
	}

	&.gradient.radius::after {
		border-radius: $button-radius;
	}

	&.disabled {
        cursor: not-allowed;
	}

	&.flat {
		border-radius: none;
		box-shadow: none;
		text-shadow: none;

		&:active {
			box-shadow: none;
		}
	}
}

@media (max-width: 40em) {
	.button.expand-for-small-only {
		display: block;
	}
}