{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">
{% endcomment %}

{% assign settings = site.data.settings %}

<div class="row outer-row">
    <div class="medium-6 columns">
        <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
            <img src="{{ settings.logo }}" alt="{{ settings.company_title }}" itemprop="logo">
        </a>
    </div>
    <div class="medium-6 columns">
        <!--  -->
    </div>
</div>

<!-- Important: Hamburger outside of row -->
<a href="#" class="hamburger hide-for-large-up"><span>OPEN MENU</span></a>