@import "foundation/settings";
/*
    LIQUIDVISUAL HERO :: A Personal Framework

    - updated: 29.11.14
    - liquidvisual.com

    - Notes -

    - liquidvisual recommends Slick Slider for Carousels
      http://kenwheeler.github.io/slick/
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

// Hero
$hero-height: rem-calc(215);
$hero-background-attachment: inherit;

// Captions
$hero-caption-header-font-family: inherit;
$hero-caption-header-font-size: rem-calc(25);
$hero-caption-header-font-size-medium: rem-calc(30);
$hero-caption-paragraph-font-size: auto;
$hero-caption-color: white;

// Carousel
$hero-carousel-bullet-size: 12px;

//-----------------------------------------------------------------
// Hero Module
//
// Hint: mobile is always auto - decision
//-----------------------------------------------------------------

.lv-hero-module {
    overflow: hidden;
    height: auto;

    &.has-auto-height {
        height: auto;
    }

    @media #{$medium-up} {
       height: $hero-height;
    }
}

//=========================================
// Slick Override
//=========================================

.slick-track,
.slick-list {
    height: 100%;
}

//-----------------------------------------------------------------
// Hero - Multiple triggers carousel
//-----------------------------------------------------------------

.lv-hero {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: $hero-background-attachment;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.is-alternate .lv-hero {
    background-position-y: 0; /* small touch */
}

//=========================================
// Targeting Carousel (if true)
//=========================================

#lv-hero-carousel .lv-hero {
    background-attachment: scroll; /* failsafe */
    cursor: move;
}

//=========================================
// Hero Caption
//=========================================

.lv-hero-caption {
    display: inline-block; /* more flexibility */
    width: 100%; /* mobile */
    margin: rem-calc(20 0);
    padding: rem-calc(10 10 10 15);
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        font-family: $hero-caption-header-font-family;
        font-size: $hero-caption-header-font-size; /* mobile */

        @media #{$medium-up} {
            font-size: $hero-caption-header-font-size-medium; /* mobile */
        }
    }

    p {
        font-size: $hero-caption-paragraph-font-size;
        margin-bottom: 0;
    }

    @media #{$medium-up} {
        text-align: left;
        width: auto;
    }
}

//=========================================
// Overrides (failsafes)
//=========================================

.lv-super .lv-hero-caption {
    p, h1, h2, h3, h4, h5, h6 {
        color: $hero-caption-color;
        margin-top: 0;
    }
}

.lv-super .is-alternate .lv-hero-caption {
    p, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

//=========================================
// Vertical Center Caption
//=========================================

.lv-hero .lv-vertical-center {
    @media #{$medium-up} {
        position: relative;
        top: 45%; // to account for top margins of H1s
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}

// Strip vertical centering on mobile
.has-auto-height {
    .lv-hero .lv-vertical-center {
        @media #{$medium-up} {
            top: 0;
            -webkit-transform: none;
                -ms-transform: none;
                    transform: none;
        }
    }
}

//=========================================
// Legacy
//=========================================

.lt-ie9 .lv-hero .center-vertical {
    @media #{$medium-up} {
        top: 40px; /* recommended */
    }
}

.lt-ie9 .has-auto-height .lv-hero .center-vertical {
    @media #{$medium-up} {
        top: 0; /* ie8 fix */
    }
}

//-----------------------------------------------------------------
// Hero - Carousel Controls
//-----------------------------------------------------------------

// .lv-hero-carousel-bullets
// {
//     position: absolute;
//     bottom: 10px;
//     right: 10px;
//     /*z-index: 100;*/
// }

// .bx-pager-item
// {
//     display: inline-block;
//     margin: 0 3px;
// }

// .bx-pager-item a
// {
//     display: inline-block;
//     width: $hero-carousel-bullet-size;
//     height: $hero-carousel-bullet-size;
//     background: #676767;
//     background: rgba(214,214,214,0.5);
//     border-radius: 100%;
//     border: 1px solid #BFBFBF;
//     overflow: hidden;
//     text-indent: -9999px;
// }

// .bx-pager-item a.active
// {
//     background: white;
//     border: 1px solid #676767;
// }