@import "foundation/settings";
@import "hero";
@import "mixins";
@import "foundation-icons";
/*
    MAIN.CSS

    - Last updated: 29.11.14
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$dark-grey: #282828;
$light-grey: #F3F4F4;

//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
	//@media #{$small-only} {
        //font-size: 90%;
	//}
}

//=========================================
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//=========================================

.row {
	@media #{$medium-up}  { max-width: upper-bound($medium-range);  }
	@media #{$large-up}   { max-width: upper-bound($large-range);   }
	@media #{$xlarge-up}  { max-width: upper-bound($xlarge-range);  }
	@media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range); }
}

// Ensure images scale to block grid LIs
ul[class*='block-grid'] li img {
	width: 100%;
}

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------

.lv-page:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem-calc(246);
    background: $primary-color url(../img/template/header-bg.gif) no-repeat top center;
    z-index: -1;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
    padding-top: rem-calc(26);

    .logo {
        position: relative;
        display: inline-block;
        margin-bottom: rem-calc(20);

        @media #{$medium-up} {
            top: rem-calc(25);
        }
    }

    .phone {
        color: white;
        font-weight: bold;
        font-size: rem-calc(22);

        &:hover {
            color: black;
        }
    }

    .address {
        color: white;
    }
}

//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.navigation ul {
    background: #EFEEEE;

    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(209,209,209,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 );

}

//-----------------------------------------------------------------
// Off Canvas Menu
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero-module {
    -moz-box-shadow: 0px -3px 9px 3px rgba(0,0,0,0.09);
    box-shadow: 0px -3px 9px 3px rgba(0,0,0,0.09);
}

//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.lv-breadcrumbs {
    text-transform: capitalize;
}

//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------

.white-page {
    background: white;
    padding: rem-calc(30);
    margin-bottom: rem-calc(30);
}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------

.media-tile {
    margin-bottom: rem-calc(20);
    border-bottom: 1px solid #ECECEC;

    @media #{$medium-up} {
        background: $light-grey;
        padding: rem-calc(15);
        border: 0;
    }
}

//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.side-nav a {
    background: $light-grey;
    border-radius: $global-radius;
    color: #222;
}

.lv-super .side-nav .active a {
    background: $secondary-color;

    &:hover {
        background: $secondary-color;
    }
}

//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {

    background: #282828;
    background: $secondary-color;
    color: white;

    -moz-box-shadow: inset 0px 3px 9px 3px rgba(0,0,0,0.02);
    box-shadow: inset 0px 3px 9px 3px rgba(0,0,0,0.02);

    .footer-top {
        padding: rem-calc(30 0 20 0);

        @media #{$medium-up} {
            padding: rem-calc(30 0 0 0);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        // color: white;
    }

    li {
        margin-bottom: rem-calc(5);
    }

    a {
        color: white;

        &:hover {
            color: black;
        }
    }
}

.footer-bottom {
    padding: rem-calc(15 0);
    // background: #000000;
    background: #282828;
    color: grey;

    a {
        color: $primary-color;
    }

    p, ul {
        font-size: rem-calc(12);
        margin-bottom: 0;
    }
}

//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks a {
    background: white;
    color: $dark-grey;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    font-size: rem-calc(22);

    &:hover {
        background: $primary-color;
        color: white;
    }
}

//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------

.header .button {
    background: $secondary-color;

    &:hover {
        background: black;
    }
}

a {
    @include transition();
}

//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------



//-----------------------------------------------------------------
// Special / Misc - Refactor Later
//-----------------------------------------------------------------

.main ul li {
    margin-bottom: rem-calc(14);
}

.polaroid img {
    // border: 1px solid #ddd;
    // padding: 4px;
}

//-----------------------------------------------------------------
// IE8
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------



//=========================================
//
//=========================================

