@import "foundation/settings";
/*
    MAIN.CSS

    - Last updated: 00.00.00
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
	//@media #{$small-only} {
        //font-size: 90%;
	//}
}

//=========================================
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//
// Notes:
// 5.000em = 80 (page-padding * 2)
// Using EMs because media queries in Foundation do so
//=========================================

// .row {
// 	@media #{$medium-up}  { max-width: upper-bound($medium-range)  + 5.000em; }
// 	@media #{$large-up}   { max-width: upper-bound($large-range)   + 5.000em; }
// 	@media #{$xlarge-up}  { max-width: upper-bound($xlarge-range)  + 5.000em; }
// 	@media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range) + 5.000em; }
// }

// Add side padding to the page above small
// .outer-row {
// 	@media #{$medium-up} {
// 		padding-left: $page-padding - $column-gutter / 2;
// 		padding-right: $page-padding - $column-gutter / 2;
// 	}
// }

// Ensure images scale to block grid LIs */
// ul[class*='block-grid'] li img {
// 	width: 100%;
// }

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------

.lv-page:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 246px;
    background: #810126;
    z-index: -1;
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
    padding-top: rem-calc(26);

    .logo {
        display: inline-block;
        margin-bottom: rem-calc(20);
    }

    .phone {
        color: white;
    }

    .address {
        color: white;
    }
}

//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.navigation {
    background: #EFEEEE;
}

//-----------------------------------------------------------------
// Off Canvas Menu
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {
    padding: rem-calc(30 0);
    background: #282828;
    color: white;

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    a {
        // color: white;
    }
}

.footer-bottom {
    padding: rem-calc(20 0);
    background: #000000;
    p, ul {
        font-size: rem-calc(12);
    }
}

//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------

.transition {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	        transition: all .2s linear;

	-webkit-transition-property: opacity, color, background;
	   -moz-transition-property: opacity, color, background;
	     -o-transition-property: opacity, color, background;
	    -ms-transition-property: opacity, color, background;
            transition-property: opacity, color, background;
}

//-----------------------------------------------------------------
// Special / Misc - Refactor Later
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// IE8
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

//=========================================
//
//=========================================