@import "foundation/settings";
/*
    MAIN.CSS

    - Last updated: 00.00.00
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
	//@media #{$small-only} {
        //font-size: 90%;
	//}
}

//=========================================
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//
// Notes:
// 5.000em = 80 (page-padding * 2)
// Using EMs because media queries in Foundation do so
//=========================================

// .row {
// 	@media #{$medium-up}  { max-width: upper-bound($medium-range)  + 5.000em; }
// 	@media #{$large-up}   { max-width: upper-bound($large-range)   + 5.000em; }
// 	@media #{$xlarge-up}  { max-width: upper-bound($xlarge-range)  + 5.000em; }
// 	@media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range) + 5.000em; }
// }

// Add side padding to the page above small
// .outer-row {
// 	@media #{$medium-up} {
// 		padding-left: $page-padding - $column-gutter / 2;
// 		padding-right: $page-padding - $column-gutter / 2;
// 	}
// }

// Ensure images scale to block grid LIs */
// ul[class*='block-grid'] li img {
// 	width: 100%;
// }

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Off Canvas Menu
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------

.transition {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	        transition: all .2s linear;

	-webkit-transition-property: opacity, color, background;
	   -moz-transition-property: opacity, color, background;
	     -o-transition-property: opacity, color, background;
	    -ms-transition-property: opacity, color, background;
            transition-property: opacity, color, background;
}

//-----------------------------------------------------------------
// Special / Misc - Refactor Later
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// IE8
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

//=========================================
//
//=========================================